<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flight calculator</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="calculator.js"></script>
</head>
<body>
  <div class="container">
    <h1 id="header">{{ header }}</h1>
    <div class="inputs">
      <input type="text" id="date" placeholder="yyyy-mm-dd">
      <input type="text" id="origin1" placeholder="RDU">
      <input type="text" id="origin2" placeholder="SFO">
    </div>

    <button onclick="runSearch()" id="search">Find flights</button>

    <div class="status">
      <h4><span>{{ status1 }}</span>{{ found }}</h4>
      <h4><span>{{ status2 }}</span>{{ notfound }}</h4>
    </div>
    
    <ul class="flightResults">
      {{#each flightResults}}
        {{#if success}}
          <li class="success">
            <span class="destination">{{ destination }}:</span>
            <span class="price">{{ price }}</span>
          </li>
        {{else}}
          <li class="failed">
            <span class="destination">{{ destination }}:</span>
            <span class="price">{{ price }}</span>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</body>
</html>